.movies-card-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 94px;
}

.movies-card-list__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 32px;
  justify-content: center;
  margin-bottom: 61px;
}

.movies-card-list__btn-show-more {
  width: 320px;
  height: 36px;
  font-size: 12px;
  background-color: #2F2F2F;
  color: white;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .movies-card-list__gallery {
    grid-template-columns: repeat(auto-fit, minmax(310px, 342px));
    gap: 25px 32px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 350px) {
  .movies-card-list__gallery {
    row-gap: 17px;
    grid-template-columns: repeat(auto-fit, 300px);
    margin-bottom: 75px;
  }

  .movies-card-list__btn-show-more {
    width: 240px;
  }
}
