.edit-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 124px;
}

.edit-profile__input {
  text-align: right;
  width: 180px;
  font-size: 11px;
  color: white;
  border: none;
  margin: 0;
}

.edit-profile__input-label {
  width: 130px;
  font-weight: 500;
  font-size: 11px;
  margin: 0;
}

.edit-profile__toolbar {
  display: flex;
  flex-direction: column;
  margin-top: 204px;
}

.edit-profile__btn-edit-profile {
  font-size: 13px;
  color: white;
  background-color: inherit;
  margin-bottom: 13px;
}

.edit-profile__btn-logout {
  font-size: 13px;
  background-color: inherit;
  color: #EE3465;
}

.edit-profile__btn-submit {
  width: 100%;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  padding: 14px 0;
  background-color: #4285F4;
  margin-bottom: 16px;
}

.edit-profile__btn-submit_disabled {
  background-color: #303030;
  color: #DADADA;
  cursor: default;
}

.edit-profile__btn-submit_disabled:hover {
  opacity: 1;
}

.edit-profile__error {
  text-align: center;
  min-height: 15px;
  font-size: 13px;
  color: #FF004C;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .edit-profile {
    margin-top: 96px;
  }

  .edit-profile__toolbar {
    margin-top: 194px;
  }
}

@media screen and (max-width: 320px) {
  .edit-profile {
    margin-top: 79px;
  }

  .edit-profile__input-container {
    gap: 10px;
  }

  .edit-profile__input {
    width: 125px;
  }

  .edit-profile__toolbar {
    margin-top: 364px;
  }

  .edit-profile__btn-submit {
    font-size: 12px;
  }
}
