.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  background-color: #202020;
  height: 100%;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 520px) {
  .burger-menu {
    width: 100%;
  }
}
