.navigation {
  display: flex;
}

.navigation_place_header {
  width: 46vw;
  align-items: center;
  gap: 16px;
}

.navigation_place_burger-menu {
  flex-direction: column;
  align-items: center;
  gap: 29px;
  padding: 162px 0 90px;
}

.navigation__auth-block {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navigation__btn-login {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 20px;
  background-color: #3DDC84;
  border-radius: 3px;
}

.navigation__btn-show-navigation {
  width: 44px;
  height: 44px;
  background-color: inherit;
  background-image: url("../../images/menu-icon.svg");
  display: none;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  color: white;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__btn-account {
  display: flex;
  align-items: center;
  gap: 17px;
  background-color: inherit;
}

.navigation__btn-account_place_burger-menu {
  margin-bottom: 120px;
}

.navigation__btn-account-info {
  width: 26px;
  height: 30px;
  background-color: #313131;
  background-image: url("../../images/navigation__btn-account.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .navigation_place_header {
    display: none;
  }

  .navigation__link {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2px;
  }

  .navigation__link_active {
    font-weight: normal;
    border-bottom: 2px solid white;
  }

  .navigation__btn-account_place_header {
    display: none;
  }

  .navigation__btn-account_place_burger-menu {
    margin-bottom: 92px;
  }

  .navigation__btn-show-navigation {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .navigation_place_burger-menu {
    width: 300px;
    gap: 21px;
    padding-top: 146px;
  }

  .navigation__link {
    padding-bottom: 8px;
  }

  .navigation__auth-block {
    gap: 20px;
  }

  .navigation__btn-account_place_burger-menu {
    margin-bottom: 48px;
  }

  .navigation__btn-login {
    font-size: 10px;
    line-height: 16px;
    padding: 4px 10px;
  }

  .navigation__btn-show-navigation {
    width: 40px;
    height: 43px;
  }
}
