.techs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 103px;
}

.techs__heading {
  max-width: 600px;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 26px;
}

.techs__text {
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6px;
  margin: 0 0 100px;
}

.tag-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 84px);
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.tag-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  min-height: 54px;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  font-size: 12px;
  padding: 21px 0;
  background-color: #303030;
  border-radius: 10px;
  word-wrap: anywhere;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 80px 0 93px;
  }

  .techs__heading {
    margin-bottom: 20px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .tag-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .techs {
    padding: 52px 14px 73px 0;
  }

  .techs__heading {
    max-width: 292px;
    font-size: 30px;
    margin-bottom: 9px;
  }

  .techs__text {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.2px;
    margin-bottom: 50px;
  }

  .tag-list {
    max-width: 200px;
  }
}
